.intro{
    margin: 1em auto;
    padding: 10em 10em 0em 10em;
    color: white
}

.img {
    border-radius: 5%;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    width: 200px;
    border: 0.1em linear-gradient(to right, #11998e, #38ef7d);
    margin: 2em;
    box-shadow: 0 0 5px 1px var(--Highlight-Color);
    backdrop-filter: blur(5px);
}
.cursor{
    font-size: 75px;
    opacity: 1;
    color: var(--Highlight-Color);
    animation: blink 0.8s linear infinite;

}
  @keyframes blink {
   0% {
          opacity: 100%;
      }

    100%{
        opacity: 0%;
    }
  }
.intro h1{
    animation: type 4s steps(80, end);
    white-space: nowrap;
    overflow: hidden;
    }

    @keyframes type {
        from {
            width: 0;
            
        }
         to {
             width: 100%;

         }
    }

.name{
    color: var(--Heading-Font-Color);
    background:var(--Highlight-Color);
    height: 10px;
    font-family: Popins-Bold;
}


.intro a{
   font-size: var(--MainPara-Font-Size);
   padding: 15px 25px;
   border-style: solid;
   border-image: linear-gradient(to right, #11998e, #38ef7d);
   border-image-slice: 1;
   text-decoration: none;
   color:var(--Heading-Font-Color) !important;
}
 .intro a:hover{
     background-color: rgba(128, 128, 128, 0.082);
 }

 @media screen and (max-width:400px) {
         
    .img{
           display: none;

    }

    .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
     
 }


